@import '../../../../public/styles/variables';

.ModalConnect {
  padding: $spacing-base/2 $spacing-base;
  h5,
  small {
    color: black;
  }

  h5 {
    font-size: 1.3rem;
  }
  .modal-connect-body {
    display: grid;
    gap: 10px;
  }

  p {
    font-size: 0.8rem;
    color: black;
  }

  .error {
    color: red;
  }
}

.react-responsive-modal-modal {
  padding: 0 !important;
  overflow-y: hidden !important;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 5%) 0px 2px 1px, rgb(0 0 0 / 25%) 0px 0px 1px;
  @include media-breakpoint-up(md) {
    max-width: 500px !important;
    width: 400px !important;
  }
}
