@import '../../../../public/styles/variables';

$height-banner: 650px;
.container__banner {
  .section__content {
    @include media-breakpoint-up(md) {
      padding-right: $spacing-base * 2;
      transform: translateX(10vw);
    }
  }

  .image-container {
    margin: auto;
  }

  .image-banner {
    margin: auto;

    @include media-breakpoint-up(md) {
      width: 100%;
      height: $height-banner;
      object-fit: cover;
    }
  }
}
